<h1>学習時間</h1>
<% if @study.nil? || @study.id.even? %>
  <%= link_to "学習開始",studies_path,method: :post %>
<% else %>
  <%= link_to "学習終了",studies_path,method: :post %>
<% end %>

<% @study_dates.each do |date| %>
  <% date.studies.each do |study| %>
    <%= study.time