<h1>学習時間</h1>
<% if @study.nil? || @study.id.even? %>
  <%= link_to "学習開始",studies_path,method: :post %>
<% else %>
  <%= link_to "学習終了",studies_path,method: :post %>
<% end %>

<% @studies.each_slice(2) do |studies| %>
  <%= studies[0].data %>
  <%= studies[1].time.round-studies[0].time.round %>
<% end %>